@media (max-width:420px)
{
	.product-grid-4 .col-12{
    width:50% !important;
  }
  section .home-slider{
    background-image: url(assets/imgs/slider/slider02.jpg);height: 100vh;
          width: 100%;
          
          background-size: cover;
          background-position: top 25% right 60%;
          padding: 0 80px ;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          
          
  }
}